---
- name: Check if bpftool is installed
  ansible.builtin.command:
    cmd: bpftool version
  register: bpftool_installed
  failed_when: false
  changed_when: false

- name: Copy bpftool from artifacts
  when: bpftool_installed.rc != 0
  ansible.posix.synchronize:
    src: "{{ role_path }}/../../artifacts/bpftool/"
    dest: '/tmp/bpftool'
  become: false

- name: Make bpftool
  when: bpftool_installed.rc != 0
  ansible.builtin.command:
    cmd: make
    chdir: '/tmp/bpftool/src'
  args:
    creates:
      - '/tmp/bpftool/src/bpftool'

- name: Install bpftool
  when: bpftool_installed.rc != 0
  ansible.builtin.command:
    cmd: make install
    chdir: '/tmp/bpftool/src'
  args:
    creates:
      - '/usr/bin/bpftool'
  become: true
  become_method: ansible.builtin.sudo
