---
- name: Check if gensr is installed
  ansible.builtin.command:
    cmd: gensr --version
  register: gensr_version
  failed_when: false
  changed_when: false
  environment:
    PATH: '{{ ansible_facts["env"]["PATH"] }}:{{ ansible_facts["env"]["HOME"] }}/.cargo/bin'

- name: Copy gensr repository from artifacts
  when: gensr_version.rc != 0
  ansible.posix.synchronize:
    src: "{{ role_path }}/../../artifacts/RootAsRole-gensr/"
    dest: '/tmp/RootAsRole-utils'
  become: false

- name: Performing install of gensr
  when: gensr_version.rc != 0
  ansible.builtin.command:
    cmd: 'cargo install --path .'
    chdir: '/tmp/RootAsRole-utils'
  timeout: 600
  args:
    creates:
      - '{{ ansible_facts["env"]["HOME"] }}/.cargo/bin/release/gensr'
  environment:
    PATH: '{{ ansible_facts["env"]["PATH"] }}:{{ ansible_facts["env"]["HOME"] }}/.cargo/bin'

- name: Copy gensr to /usr/bin
  when: gensr_version.rc != 0
  ansible.builtin.command:
    cmd: cp {{ ansible_facts["env"]["HOME"] }}/.cargo/bin/gensr /usr/bin/gensr
  args:
    creates:
      - '/usr/bin/gensr'
  become: true
  become_method: sudo
