---
- name: Deploy RootAsRole roles for Ansible
  hosts: docker
  gather_facts: false
  tasks:
    - name: Deploy RootAsRole roles for Ansible
      ansible.builtin.import_tasks: "{{ tasks_dir }}/deploy_sr_roles.yml"
      vars:
        file_name: "result_sr_rootasrole"